<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
                <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
                <li><a href="#map" data-toggle="tab">Connections Map</a></li>
                <li><a href="#activity" data-toggle="tab">Activity</a></li>
                <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
                    <li><i style="font-size: 2em; margin-right: 10px; margin-top: 7px;" onclick="$(this).toggleClass('fa-star-o').toggleClass('fa-star');" class="fa fa-star-o"></i></li>
                    <li><button class="button button-primary">Share</button></li>
                </ul>   
            </ul>
             
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="info">
                    <div class="row">
                        <div class="col-md-8">
                           <div id="initiative-map" style="height: 300px; width: 100%;"></div>
                            <script>
                            $(function() {
                              var init = <%-JSON.stringify(initiative.areaServed)%>;
                              L.mapbox.accessToken = 'pk.eyJ1IjoiZGF0YWRhc2giLCJhIjoiR2VMSDVvdyJ9.p29kVF2Ee7T9U7F8E8B6Kg';
                              var map = L.mapbox.map('initiative-map', 'mapbox.streets');
                              var l = L.mapbox.featureLayer(init).addTo(map);
                              map.fitBounds(l.getBounds(), {maxZoom: 10})
                            })
                            </script>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default portfolio-item-panel">
                                <div class="panel-heading">Initiative Details</div>
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        <li><strong>Name</strong> <%= initiative.name %></li>
                                        <li><strong>Focus/Goal</strong> <p><%= initiative.focus %></p></li>
                                        <li><strong>Start Date</strong> <p><%= initiative.start_date %></p></li>
                                        <li><strong>End Date</strong> <p><%= initiative.end_date %></p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="map">
                    <div id="connections-map" style="height: 400px; width: 100%;"></div>
                    <script>
                    </script>
                </div>
                <div class="tab-pane" id="activity">
                    <div class="row">
                        <div class="col-md-12">
                            <dl class="dl-horizontal">
                                <dt><%= moment().format("LL") %></dt>
                                <dd>initiative created</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
    
</div>
